$color_blue: blue;
$color: yellow;
$color_test: green;
$color_test3:grey;
$color_test4:red;
$color_test5:blue;
$color_test6: green;
$color_test7:pink;
$color_test8: black;
$color_test9: yellow;
$color_test10:green;
$color_test11:red;
$color_test12:blue;
$color_test13:grey;
$color_test14:red;
$color_test15:blue;
$color_test16:pink;
$color_test17:black;
$color_test18:grey;
$color_test19:green;
$color_test20:black;
$color_test21:blue;
